<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="imagex/png"
      href="/Resources/Assets/Imagens/LogoHeader.png">


      <link rel="stylesheet" href="/Resources/Assets/Css/global.css">

    <link rel="stylesheet" href="/Resources/Assets/Css/configuracao.css">

    <link rel="stylesheet" href="/Resources/Assets/Css/login.css">


    <link rel="stylesheet" href="/Resources/Assets/Css/templates.css">


    <title>{{title}}</title>
  </head>

  <body>
    {{header}}
    {{content}}
    {{footer}}
  </body>

  <div id="modal-popup"></div>

</html>