<link rel="stylesheet" href="/Resources/Assets/Css/usuario/home.css">

<main class="main">
  <div class="containerInput">
    <form action="" id="form-pesquisar">
      <div class="searchbox">
        <input name="texto_pesquisar" id="btn-pesquisar"
          type="text"
          class="searchinput"
          placeholder="Buscar produto desejado..."
          />
        <span id="listar-usuarios"></span>

        <button class="searchbutton">
          <img class="iconSearch"
            src="/Resources/Assets/Imagens/iconSearch.png" alt="icone de
            pesquisar">
        </button>
      </div>
    </form>
  </div>

  <a href="/usuario/requisicoes">
    <button type="submit" class="btn">Requisições</button>
  </a>
</main>

<script src="/Resources/Assets/Js/searchProduct.js"></script>
